<div class="form-group">
    <label class="form-label">{{ form_label(form.parent) }}</label>
    {{ form_widget(form.parent) }}
    <small class="form-text text-muted">{{ form_help(form.parent) }}</small>
</div>
<div class="form-group">
    <label class="form-label">{{ form_label(form.name) }}</label>
    {{ form_widget(form.name) }}
    <small class="form-text text-muted">{{ form_help(form.name) }}</small>
</div>
<div class="form-group">
    <label class="form-label">{{ form_label(form.ordre) }}</label>
    {{ form_widget(form.ordre) }}
    <small class="form-text text-muted">{{ form_help(form.ordre) }}</small>
</div>