<div class="navbar navbar-expand navbar-dark navbar-dark-pickled-bluewood navbar-shadow" id="default-navbar" data-primary>

    <!-- Navbar toggler -->
    <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
        <span class="material-icons">short_text</span>
    </button>

    <!-- Navbar Brand -->
    <a href="{{ path('admin.home') }}" class="navbar-brand mr-16pt d-lg-none">
        <!-- <img class="navbar-brand-icon" src="../../public/images/logo/white-100@2x.png" width="30" alt="Luma"> -->
        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
            <span class="avatar-title rounded bg-primary">
                {% include 'layouts/partials/__logo.html.twig' %}
            </span>
        </span>
        <span class="d-none d-lg-block">{{ parametres.structure.name ?? company_name }}</span>
    </a>

    {% include 'layouts/admin/partials/__nav.html.twig' %}

    <form class="search-form navbar-search d-none d-lg-flex mr-16pt" action="#" style="max-width: 230px">
        <button class="btn" type="submit"><i class="material-icons">search</i></button>
        <input type="text" class="form-control" placeholder="Rechercher ...">
    </form>

    <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

        <!----  Partials Notitfcations block  ---->
        {{ get_notifications() }}
        <!----  Partials Notitfcations block  ---->

        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown" data-caret="false" aria-expanded="false">
                    <span class="avatar avatar-sm mr-8pt2">
                        <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header"><strong>Mon compte</strong></div>
                    <a class="dropdown-item" href="{{ path('admin.users.edit', {'id': app.user.id}) }}">Editer mon compte</a>
                    <a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% if app.request.get('_route') != 'admin.home' %}
    <div class="navbar navbar-list navbar-light bg-white border-bottom-2 border-bottom navbar-expand-sm"
         style="white-space: nowrap;">
        <div class="container-fluid page__container">
            <nav class="nav navbar-nav">
                <div class="nav-item navbar-list__item">
                    <a href="javascript:history.back()" class="nav-link h-auto"><i class="material-icons icon--left">keyboard_backspace</i> Retournez à la page précédente</a>
                </div>
                <div class="nav-item navbar-list__item">
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="flex">
                            <a href="javascript:" class="card-title text-body mb-0">{{ title ?? '' }}</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endif %}
