{% extends 'layouts/front/base.html.twig' %}

{% block title %}{{ parametres.structure ? parametres.structure.name : company_name }} - Mot de passe oublié{% endblock %}

{% block body %}
    <div class="page-section pb-0">
        <div class="container-fluid page__container d-flex flex-column flex-sm-row align-items-sm-center">
            <div class="flex">
                <h1 class="h2 mb-0">Changez de mot de passe</h1>
                <p class="text-breadcrumb">Gestionaire de compte</p>
            </div>
            <p class="d-sm-none"></p>
            <a href="{{ path('contacts') }}" class="btn btn-outline-secondary flex-column">
                Bésoin d'aide?
                <span class="btn__secondary-text">Contactez nous</span>
            </a>
        </div>
    </div>

    <div class="page-section">
        <div class="container-fluid page__container">
            <div class="page-separator">
                <div class="page-separator__text">Réinitialisez votre mot de passe</div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="alert alert-soft-warning">
                    <div class="d-flex flex-wrap">
                        <div class="mr-8pt">
                            <i class="material-icons">check_circle</i>
                        </div>
                        <div class="flex" style="min-width: 180px">
                            <small class="text-100">
                                Veuilles entrer votre adresse email et vous recevrez un email dans votre boite
                                avec un lien pour réinitialiser votre mot de passe
                            </small>
                        </div>
                    </div>
                </div>

                {{ form_start(requestForm) }}
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

                <apsn>{{ form_errors(requestForm.email) }}</apsn>
                    <div class="form-group">
                        <label class="form-label">* Adresse email</label>
                        {{ form_widget(requestForm.email) }}
                        <small class="form-text text-muted">We will email you with info on how to reset your password.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}