{% extends 'layouts/admin/admin.html.twig' %}

{% block title %}Admin - {{ parametres.structure ? parametres.structure.name : company_name }} - {{ title }}{% endblock %}

{% block body %}
    <div class="page-section bg-primary border-bottom-white">
        <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
            {% if user.filename %}
                <img width="104" class="mr-md-32pt mb-32pt mb-md-0" src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('avatar') }}" alt="{{ user.username }}">
            {% else %}
                <img width="104" class="mr-md-32pt mb-32pt mb-md-0" src="{{ asset('admin/img/avatars/1.png') }}" alt="{{ user.username }}">
            {% endif %}
            <div class="flex mb-32pt mb-md-0">
                <h2 class="text-white mb-0">{{ user.fullname }}</h2>
                <p class="lead text-white-50 d-flex align-items-center">
                    {% for role in user.roles %}
                        {% if role == "ROLE_SUPER_ADMIN" %}
                            <i class="fa fa-lock"></i> &nbsp; Super administrateur
                        {% endif %}
                        {% if role == "ROLE_ADMIN" %}
                            <i class="fa fa-lock"></i> &nbsp;  Administrateur
                        {% endif %}
                        {% if role == "ROLE_USER" %}
                            <i class="fa fa-user"></i> &nbsp;  Utilisateur
                        {% endif %}
                    {% endfor %}
                    <span class="ml-16pt d-flex align-items-center">
                        <i class="material-icons icon-16pt mr-4pt">mail_outline</i> {{ user.email }}
                    </span>
                    <span class="ml-16pt d-flex align-items-center">
                        <i class="material-icons icon-16pt mr-4pt">phone</i> {{ user.contacts ?? 'Aucun contact' }}
                    </span>
                </p>
            </div>
            <a href="{{ path('admin.users.index') }}" class="btn btn-outline-white">Retour à la liste</a>
        </div>
    </div>

    <div class="page-section bg-white border-bottom-2">
        <div class="container-fluid page__container">
            <div class="row">
                <div class="col-md-6">
                    <h4>{{ user.fullname }}</h4>
                    <p class="text-70">Nom d'utilisateur: {{ user.username }}</p>
                    <p class="text-70">Etat:
                        <span class="badge badge-success" style="font-size: 12px!important;">
                            {{ user.enabled ? 'Utulisateur actif' : 'Utulisateur inactif' }}
                        </span>
                    </p>
                    <p class="text-70">Adresse: {{ user.address|nl2br }}</p>
                    <p class="text-70">
                        <a target="_blank" href="{{ path('app_forgot_password_request') }}">
                            Modifier votre mot de passe
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h4>Actions</h4>
                    <p class="text-70">I’m currently working as a freelance marketing director and always interested in a challenge. Here’s how to reach out and connect.</p>
                    <div class="d-flex align-items-center">
                        <a href="{{ path('admin.users.edit', {'id': user.id}) }}" class="text-accent font-size-24pt mr-8pt">
                            <i class="fa fa-edit"></i>
                        </a>
                        {% include 'admin/users/_delete_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container-fluid page__container">
            <!-- DataTable within card -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="padding: 1rem 1rem;">
                            <div class="row align-items-center m-l-0">
                                <div class="col-sm-6">
                                    <h6>Liste des commandes</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-datatable table-responsive">
                            <table class="datatables-demo table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th width="70">Id</th>
                                    <th width="120">Référence</th>
                                    <th width="200">Date</th>
                                    <th>Nom & Prénoms</th>
                                    <th>Etat</th>
                                    <th width="80">Produits</th>
                                    <th width="120">Total</th>
                                    <th width="100">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for commande in user.commandes %}
                                    {% include 'admin/shops/commandes/partials/_tr_table.html.twig' %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">{{ data_none }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

