{% extends 'layouts/admin/admin.html.twig' %}

{% block title %}Admin - {{ parametres.structure ? parametres.structure.name : company_name }} - {{ title }}{% endblock %}

{% block body %}
    <div class="pt-32pt">
        <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
            {{ fil_arial_admin_categories(title, 'Formations', '') }}
            <div class="row" role="tablist">
                <div class="col-auto">
                    <a href="{{ path('admin.formations.index') }}" class="btn btn-outline-secondary">Liste des formations</a> &nbsp;&nbsp;
                    <a href="{{ path('admin.formations.new') }}" class="btn btn-outline-secondary">Nouvelle formation</a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section container-fluid page__container">
        {% include 'flash/__flash.html.twig' %}
    </div>

    <div class="page-section border-bottom-2">
        <div class="container-fluid page__container">
            {{ include('admin/formations/_form.html.twig', {'button_label': 'Sauvegarder', 'title': "Editer la formation", 'data': formation}) }}
        </div>
    </div>

{% endblock %}