{% for comment in comments %}
<div class="avatar avatar-xs" data-toggle="tooltip" data-placement="top" title="{{ comment.user.fullName }}">
    {% if blog.filename %}
        <img src="{{ vich_uploader_asset(blog, 'imageFile') | imagine_filter('thumbnail') }}" alt="{{ blog.name }}" class="avatar-img rounded-circle">
    {% else %}
        <img src="{{ asset('assetics/images/avatar.png') | imagine_filter('thumbnail') }}" alt="{{ blog.name }}" class="avatar-img rounded-circle">
    {% endif %}
</div>
{% else %}
    <a href="javascript:">Aucun commentaire...</a>
{% endfor %}