<div style="width: 100%; height: 150px; max-height: 150px; background-color: #ccc;" class="mt-lg-4">
    {% if pubs.publicite.filenamepubblock2 %}
            <a href="{{ pubs.publicite.pubblock2 }}">
                    <img src="{{ vich_uploader_asset(pubs.publicite, 'imageFile2') | imagine_filter('banner644x150') }}" alt="{{ pubs.publicite.pubblock2 }}">
            </a>
    {% else %}
        <img src="{{ asset('assetics/images/empty/pubs.png') | imagine_filter('banner644x150') }}" alt="{{ pubs.publicite.pubblock2 }}">
    {% endif %}
</div>