{% extends 'layouts/admin/admin.html.twig' %}

{% block title %}Admin - {{ parametres.structure ? parametres.structure.name : company_name }} - {{ title }}{% endblock %}

{% block body %}
    <div class="page-section bg-primary border-bottom-white">
        <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
            <div class="flex mb-32pt mb-md-0">
                <h2 class="text-white mb-0">{{ article.name }}</h2>
                <p class="lead text-white-50 d-flex align-items-center">
                    <span class="ml-16pt d-flex align-items-center">
                        <i class="material-icons icon-16pt mr-4pt">calendar</i> {{ article.createdAt|date('d/m/Y à H:i:s') }}
                    </span>
                </p>
            </div>
            <a href="{{ path('admin.articles.index') }}" class="btn btn-outline-white">Retour à la liste</a>
        </div>
    </div>

    <div class="page-section bg-white border-bottom-2">
        <div class="container-fluid page__container">
            <div class="row">
                <div class="col-md-6">
                    <h4>{{ article.name }}</h4>
                </div>
                <div class="col-md-6">
                    <h4>Actions</h4>
                    <p class="text-70">I’m currently working as a freelance marketing director and always interested in a challenge. Here’s how to reach out and connect.</p>
                    <div class="d-flex align-items-center">
                        <a href="{{ path('admin.articles.edit', {'id': article.id}) }}" class="text-accent font-size-24pt mr-8pt">
                            <i class="fa fa-edit"></i>
                        </a>
                        {% include 'admin/articles/_delete_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container-fluid page__container">
            <!-- DataTable within card -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="padding: 1rem 1rem;">
                            <div class="row align-items-center m-l-0">
                                <div class="col-sm-6">
                                    <h6>Contenu de l'article</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {{ article.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}