<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; "/>
    <title>{{ title }}</title>
</head>
<body style='font-size: 10pt'>
<div id="forwardbody1">
    <div dir="auto"><br/><br/>
        <blockquote type="cite" style="padding: 0 0.4em; border-left: #1010ff 2px solid; margin: 0">
            <div dir="ltr">
                <table style="border-spacing: 0; font-family: sans-serif; color: #000000; background-color: #f9f9f9;" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f9f9f9">
                    <tbody>
                    <tr>
                        <td style="max-width: 600.0px; padding: 0;" align="center" bgcolor="#f9f9f9" width="100%">
                            <center class="v1wrapper" style="background-color: #f9f9f9; width: 100.0%; table-layout: fixed;">
                                <div class="v1-webkit" style="background-color: #ffffff; max-width: 600.0px; width: 100.0%;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 640.0px;" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0px; padding: 0;" colspan="3" bgcolor="#f9f9f9" height="20">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0px; padding: 0;" bgcolor="#f9f9f9">&nbsp;</td>
                                            <td class="v1contents" style="width: 87.5%; font-size: 12.0px; color: #989898; font-family: Arial; padding: 0;" align="center" valign="middle" bgcolor="#f9f9f9">
                                                Votre commande n'a pu &ecirc;tre valid&eacute;e
                                            </td>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0px; padding: 0;" bgcolor="#f9f9f9">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0px; padding: 0;" colspan="3" bgcolor="#f9f9f9" height="20">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper"
                                    style="background-color: #f9f9f9 !important; width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
                                <div class="v1webkit"
                                     style="background-color: #ffffff !important; max-width: 600px;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100%; max-width: 600px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0; padding: 0;" bgcolor="#ffffff" height="40">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper"
                                    style="background-color: #f9f9f9 !important; width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
                                <div class="v1webkit"
                                     style="background-color: #ffffff !important; max-width: 600px;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100%; max-width: 600px;" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="overflow: hidden; line-height: 1; padding: 0;" align="center" bgcolor="#FFFFFF">
                                                <a style="line-height: 1; width: 86px; height: 50px; text-decoration: none;" href="{{ url('home') }}" target="_blank" rel="noopener noreferrer">
                                                    <img style="font-family: Arial,serif; color: #ffffff; font-size: 1px; text-align: center; display: block; border-width: 0; width: 100px; max-width: 100px; height: 100px;" src="{{ absolute_url(asset('assetics/images/logo/black-70@2x.png')) }}" alt="LOGO EXPERT ENLIGNE" width="100" height="100"/>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper"
                                    style="background-color: #f9f9f9 !important; width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
                                <div class="v1webkit"
                                     style="background-color: #ffffff !important; max-width: 600px;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100%; max-width: 600px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#f2ce8b">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0; padding: 0;" bgcolor="#ffffff" height="40">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper" style="background-color: #f9f9f9; width: 100.0%; table-layout: fixed;">
                                <div class="v1-webkit" style="background-color: #ffffff; max-width: 600.0px;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 600.0px;" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                                        <tbody>
                                        <tr>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0px; padding: 0;" bgcolor="#FFFFFF">&nbsp;</td>
                                            <td style="height: auto; padding: 0;" valign="top" bgcolor="#FFFFFF">
                                                <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 600.0px;" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                                                    <tbody>
                                                    <tr><td style="padding: 0;" valign="middle" bgcolor="#ffffff"><strong>Téléphone: </strong> {{ name }}</td></tr>
                                                    <tr><td style="padding: 0;" valign="middle" bgcolor="#ffffff"><strong>Téléphone: </strong> {{ phone }}</td></tr>
                                                    <tr><td style="padding: 0;" valign="middle" bgcolor="#ffffff"><strong>Email: </strong> {{ email }}</td></tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0px; padding: 0;" bgcolor="#FFFFFF">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper"
                                    style="background-color: #f9f9f9; width: 100.0%; table-layout: fixed;">
                                <div class="v1-webkit" style="background-color: #ffffff; max-width: 600.0px;">
                                    <table class="v1outer"
                                           style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 600.0px; text-align: center;"
                                           cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0px; padding: 0;"
                                                bgcolor="#ffffff" height="20">&nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper" style="background-color: #f9f9f9; width: 100.0%; table-layout: fixed;">
                                <div class="v1-webkit" style="background-color: #ffffff; max-width: 600.0px;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 600.0px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                                        <tbody>
                                        <tr>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0px; padding: 0;" bgcolor="#FFFFFF">&nbsp;</td>
                                            <td style="height: auto; padding: 0;" align="center" bgcolor="#FFFFFF">
                                                <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 620.0px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                                                    <tbody>
                                                    <tr>
                                                        <td style="text-align: center; padding: 0;" align="center" bgcolor="#ffffff">
                                                            <span style="font-family: Palatino Linotype; font-size: 16px; color: #444444;">
                                                                {{ message|nl2br }}
                                                                <br/>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0px; padding: 0;" bgcolor="#FFFFFF">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper"
                                    style="background-color: #f9f9f9; width: 100.0%; table-layout: fixed;">
                                <div class="v1-webkit" style="background-color: #ffffff; max-width: 600.0px;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 600.0px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0px; padding: 0;" bgcolor="#ffffff" height="15">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper" style="background-color: #f9f9f9; width: 100.0%; table-layout: fixed;">
                                <div class="v1-webkit" style="background-color: #ffffff; max-width: 600.0px;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 600.0px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                                        <tbody>
                                        <tr>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0px; padding: 0;" bgcolor="#FFFFFF">&nbsp;</td>
                                            <td style="height: auto; padding: 0;" align="center" bgcolor="#FFFFFF">
                                                <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 620.0px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF">
                                                    <tbody>
                                                    <tr>
                                                        <td style="text-align: center; padding: 0;" align="center" bgcolor="#ffffff">
                                                            <span style="font-family: Arial; font-size: 12.0px; line-height: 20.0px; color: #9a9a9a;">
                                                                Nous serons heureux de vous accueillir de nouveau sur
                                                                <a style="color: #9a9a9a; text-decoration: underline;" href="{{ path('home') }}" target="_blank" rel="noopener noreferrer">{{ parametres.structure.name ?? company_name }}</a>,
                                                                et nous nous tenons &agrave; votre disposition dans cette perspective.<br/>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0px; padding: 0;" bgcolor="#FFFFFF">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper"
                                    style="background-color: #f9f9f9; width: 100.0%; table-layout: fixed;">
                                <div class="v1-webkit" style="background-color: #ffffff; max-width: 600.0px;">
                                    <table class="v1outer"
                                           style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100.0%; max-width: 600.0px; text-align: center;"
                                           cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0px; padding: 0;"
                                                bgcolor="#ffffff" height="23">&nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper"
                                    style="background-color: #f9f9f9 !important; width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
                                <div class="v1webkit"
                                     style="background-color: #ffffff !important; max-width: 600px;">
                                    <table class="v1outer"
                                           style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100%; max-width: 600px; text-align: center;"
                                           cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0; padding: 0;"
                                                bgcolor="#ffffff" height="30">&nbsp;
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <center class="v1wrapper"
                                    style="background-color: #f9f9f9 !important; width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
                                <div class="v1webkit"
                                     style="background-color: #ffffff !important; max-width: 600px;">
                                    <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100%; max-width: 600px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                                        <tbody>
                                        <tr>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0; padding: 0;" bgcolor="#ffffff">&nbsp;</td>
                                            <td style="height: auto; padding: 0;" align="center" valign="top" bgcolor="#f9f9f9">
                                                <table class="v1outer" style="border-spacing: 0; font-family: sans-serif; color: #333333; margin: 0 auto; width: 100%; max-width: 600px; text-align: center;" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                                                    <tbody>
                                                    <tr>
                                                        <td style="text-align: center; padding: 0;" align="center" valign="middle" bgcolor="#ffffff">
                                                            <span style="font-family: Palatino Linotype; font-size: 17px; line-height: 22px; color: #444444;">
                                                                Nous esp&eacute;rons vous revoir prochainement sur
                                                                <a style="color: #444444; text-decoration: underline;" href="{{ url('home') }}" target="_blank" rel="noopener noreferrer">
                                                                    {{ parametres.structure.name ?? company_name }}
                                                                </a>,
                                                                ou dans nos autres
                                                                <a style="color: #444444; text-decoration: underline;" href="{{ url('home') }}" target="_blank" rel="noopener noreferrer">magasins.</a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="width: 6.25%; min-width: 6.25%; max-width: 6.25%; font-size: 0; line-height: 0; padding: 0;" bgcolor="#ffffff">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </blockquote>
    </div>
</div>
</body>
</html>