<div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
    <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">{{ title }}</h2>
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Accueil</a></li>
            {% if cat %}<li class="breadcrumb-item">{{ cat }}</li>{% endif %}
            {% if libelle %}<li class="breadcrumb-item">{{ libelle }}</li>{% endif %}
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </div>
</div>