<div class="form-group">
    <label class="form-label">{{ form_label(form.lexique) }}</label>
    {{ form_widget(form.lexique) }}
    <small class="form-text text-muted">{{ form_help(form.lexique) }}</small>
</div>

<div class="form-group">
    <label class="form-label">{{ form_label(form.definition) }}</label>
    {{ form_widget(form.definition) }}
    <small class="form-text text-muted">{{ form_help(form.definition) }}</small>
</div>